body{

}
.container{
    width: 100%;
    height: 700px;
    background: url("images/background.png") no-repeat;
    background-size: contain;
    margin-top: 0;
    margin-left:0;


}
.items{
    margin-left: 20px;
}
.span{
    position: absolute;
    top: 74%;
    left: 50%;
    background: url("images/vase.png") no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-bottom: 9%;

}
.water{
    background: url("images/water.png") no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 67%;
    left: 30%;
}
.seeds{
    background: url("images/seeds.png") no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 84%;
    left: 40%;
}
#lvl1{
    background: url("images/grow lvl 1.png") no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 72%;
    left: 52%;
    display: none;


}
#lvl2{
    background: url("images/gorow lvl2 rem.png") no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 69%;
    left: 52%;
    display: none;
}
#lvl3{
    background: url("images/grow lvl 3.png") no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 61%;
    left: 51%;
    display: none;
}
#lvl4{
    background: url("images/grow lvl4.png") no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 53%;
    left: 49.5%;
    display: none;
}
#lvl5{
    background: url("images/grow lvl 5.png") no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 46%;
    left: 49.5%;
    display: none;
}
#lvl6{
    background: url("images/grow lvl 6.png") no-repeat;
    background-size: contain;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 38.5%;
    left: 48%;
    display: none;
}
#massage{
    width:400px;
    height:80px;
    font-size: 45px;
    position: absolute;
    left: 33%;
    top: 5%;
    background: peachpuff;
    opacity: 0.7;
    text-align: center;
    vertical-align: middle;
    color: dimgray;
}
